<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 namespace：名称空间，用来映射哪个mapper接口
 id： 唯一标识，用来映mapper接口中的那个方法
 resultType： 查询结果绑定的实体类类型
 #{id}：从传递过来的参数中，取出id的值
-->
<mapper namespace="com.haoqian.config.mapper.EmployeeMapper">
    <select id="getEmpById" resultType="com.haoqian.config.domain.Employee">
		SELECT * FROM tb_employee WHERE id=#{id}
	</select>
    <select id="getEmpById" resultType="emp"
            databaseId="mysql">
		SELECT * FROM tb_employee WHERE id=#{id}
	</select>
    <select id="getEmpById" resultType="com.haoqian.config.domain.Employee"
            databaseId="oracle">
		select EMPLOYEE_ID id,LAST_NAME	lastName,EMAIL email from employees where EMPLOYEE_ID=#{id}
	</select>
</mapper>